.rss-container{
	    max-width: 880px;
    width: 100%;
    margin: 25px auto;
    background: #f4f4f4;
}

.rss-heading{
    background: #7ED321;
    color: #000;
    padding: 15px 30px;
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    font-weight: bold;
}

.content-inner{
	    border: 1px solid #c6c6c6;
    background: #fff;
    padding: 30px 24px;
}

