.right{
	float:right;
}

.rss-container{
	    max-width: 400px;
    width: 100%;
    margin: 25px auto;
    background: #f4f4f4;
}

.rss-heading {
    background: #7ED321;
    color: #000;
    padding: 15px 30px;
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    font-weight: bold;
}

.rss-heading p{
    font-size:9px;

}

hr{
    border-top: 1px solid #b5b5b5 !important;
}

.clear{
    clear:both;
}

.spacing a {
    line-height: 2em;
    font-size: 15px;
}

.pull-right{
    line-height: 2em;
     font-size: 15px;
}

h3.title {
    font-family: Roboto Condensed !important;
    font-weight: bold;
}


